<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       profile="simple">

    <bean id="echo" class="ahodanenok.echo.simple.SimpleEcho">
        <property name="message" value="Hello, world!" />
        <property name="sequence">
            <bean class="ahodanenok.echo.simple.Sequence" destroy-method="destroy" init-method="init">
                <constructor-arg name="startFrom" value="10" />
                <constructor-arg name="step" value="2" />
                <property name="resume" value="true" />
            </bean>
        </property>
    </bean>
</beans>