<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <alias name="simpleEcho" alias="echo" />

    <bean id="simpleEcho" class="ahodanenok.echo.simple.SimpleEcho"
          init-method="initFromXml" destroy-method="destroyFromXml">

    </bean>

    <bean id="client" class="ahodanenok.echo.EchoClient">
        <constructor-arg ref="echo" />
    </bean>
</beans>